<!DOCTYPE html>
<html>
<head>
    <title>Live Camera Feed</title>
    <style>
        body {
            background-color: #121212;
            color: #fff;
            text-align: center;
            font-family: Arial;
        }
        img {
            margin-top: 20px;
            border: 2px solid #00ff99;
            border-radius: 10px;
            max-width: 90%;
        }
    </style>
</head>
<body>
    <h1>Live Camera Preview</h1>
    <img src="{{ url_for('video_feed') }}" />
</body>
</html>
